/* @import url( '../_base/vml.css' ); */

v\:shape,
v\:shapetype,
v\:group,
v\:vmlframe,
v\:background,
v\:line,
v\:polyline,
v\:curve,
v\:rect,
v\:roundrect,
v\:oval,
v\:arc,
v\:image,
v\:path,
v\:formulas,
v\:handles,
v\:fill,
v\:stroke,
v\:shadow,
v\:skew,
v\:imagedata,
v\:textbox,
v\:textpath,
v\:extrusion {
	behavior: url(#default#VML);
}


/* @import url( '../html/blocks.css' ); */

p {
	margin: 20px 0;
}



/* @import url( '../html/headers.css' ); */

h1 {
	font: 48px/1 'Times New Roman', serif;
	margin: 40px 0 20px;
	text-align: center;
}



/* @import url( '../html/label.css' ); */

label {
	display: block;
	margin: 1em 0;
	clear: both;
}



/* @import url( '../html/links.css' ); */

a {
	text-decoration: none; text-decoration: inherit;
	color: none; color: inherit;
	cursor: pointer;
}

p a {
	color: #66f;
}

p a:visited {
	color: #669;
}

p a:hover {
	color: #66f;
	text-decoration: underline;
}



/* @import url( '../html/root.css' ); */

html {
	width: 100%;
	height: 100%;
	background: white;
	color: black;
	font: 18px/30px 'Times New Roman', serif;
	margin: 0;
	padding: 0;
	overflow: auto;
	overflow-y: scroll;
}

body {
	width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
}



/* @import url( '../std-spacer/std-spacer.css' ); */

std\:spacer {
	display: block;
    margin: 9% 10%;
    zoom: 1;
    position: relative;
}

