[submodule "std/_base"]
	path = std/_base
	url = git@github.com:sairi-na-tenshi/i-component_std_base.git
[submodule "std/i-hlight-"]
	path = std/i-hlight-
	url = git://github.com/sairi-na-tenshi/i-component_std_i-hlight.git
[submodule "std/i-hlight-js"]
	path = std/i-hlight-js
	url = git://github.com/sairi-na-tenshi/i-component_std_i-hlight-js.git
[submodule "std/i-hlight-md"]
	path = std/i-hlight-md
	url = git://github.com/sairi-na-tenshi/i-component_std_i-hlight-md.git
[submodule "std/i-hlight-code"]
	path = std/i-hlight-code
	url = git://github.com/sairi-na-tenshi/i-component_std_i-hlight-code.git
[submodule "std/html"]
	path = std/html
	url = git://github.com/sairi-na-tenshi/i-component_std_html.git
[submodule "std/i-binom"]
	path = std/i-binom
	url = git://github.com/sairi-na-tenshi/i-component_std_i-binom.git
[submodule "std/i-cpanel"]
	path = std/i-cpanel
	url = git://github.com/sairi-na-tenshi/i-component_std_i-cpanel.git
[submodule "std/i-button"]
	path = std/i-button
	url = git://github.com/sairi-na-tenshi/i-component_std_i-button.git
[submodule "std/i-field-string"]
	path = std/i-field-string
	url = git://github.com/sairi-na-tenshi/i-component_std_i-field-string.git
[submodule "std/i-field-text"]
	path = std/i-field-text
	url = git://github.com/sairi-na-tenshi/i-component_std_i-field-text.git
[submodule "std/i-spacer"]
	path = std/i-spacer
	url = git://github.com/sairi-na-tenshi/i-component_std_i-spacer.git
[submodule "std/i-desktop"]
	path = std/i-desktop
	url = git://github.com/sairi-na-tenshi/i-component_std_i-desktop.git
[submodule "std/i-noframe"]
	path = std/i-noframe
	url = git://github.com/sairi-na-tenshi/i-component_std_i-noframe.git
[submodule "std/i-docpage"]
	path = std/i-docpage
	url = git://github.com/sairi-na-tenshi/i-component_std_i-docpage.git
[submodule "std/i-hlight-bb"]
	path = std/i-hlight-bb
	url = git://github.com/sairi-na-tenshi/web-component_std-parser-bb.git
