std\:cpanel-tab {
	display: block;
	padding: 10px 20px;
	font: 24px/1 'Times New Roman', serif;
	color: black;
	background: none;
}

a:hover std\:cpanel-tab {
	background: #ddd;
}

std\:cpanel-tab.current\=true,
a.target\=true std\:cpanel-tab {
	background: #fff;
}

a:hover std\:cpanel-tab.current\=true {
	background: #fff;
}
