std\:cpanel-main {

	display: table-cell;
	$display: block; /* ie7- */
	zoom: 1;

	background: #fff;

	padding: 10px 0 10px 10px;
	margin: 0 10px 0 10px;
	margin: 3px 10px 0 13px\9;

	$padding-bottom: 32010px;
	$margin-bottom: -32000px;
}
